<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Webcam</title>

    <style>
        p{
            font-size: 200%;
        }

        img {
            width: 320px;
            height: 240px;
        }

        #camera {
        height:auto;
        width:auto;
        text-align: left;
        }

        #btRetake {
            display: none;
        }

        .alert-error {
            padding: 8px;
            background-color: red;
            color: white;
        }
    </style>

    <!-- https://github.com/jhuckaby/webcamjs -->
    <script type="text/javascript" src="../webcamjs-master/webcam.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>

    <script>
        var image
        
        // webcam weergeven nadat de pagina ingeladen is
        function init() {
            Webcam.set({
                width: 320,
                height: 240,
                dest_width: 640,
                dest_height: 480,
                image_format: 'jpeg',
                jpeg_quality: 100
            });
            Webcam.attach('#camera');
        }

        // functie dat een foto via webcam opslaagt en doorstuurt naar Python als type Blob
        function takeSnapShot() {
            Webcam.snap(function (data_uri) {
                image = data_uri;
                document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
                });

            // xmlhttp request openen voor de formdata
            let xhr = new XMLHttpRequest();
            let formdata = new FormData();

            // foto en email toevoegen aan formdata
            formdata.append('image', dataURLtoBlob(image))
            formdata.append('email', document.getElementById('email').value)

            // image en email naar Python versturen via POST request
            xhr.open('POST', '/verify', true);
            xhr.onload = function () {
                if (this.status === 200)
                    console.log(this.response);
                else
                    console.error(xhr);
            };

            
            xhr.send(formdata);
            document.getElementById('submit').style.display = "block";
            document.getElementById('camera').style.display = "none";
            document.getElementById('my_result').style.display = "block";

            return true;
        }

        // functie dat dataurl van image omzet naar Blob data type
        function dataURLtoBlob(dataurl) {
            var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
            while(n--){
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new Blob([u8arr], {type:mime});
        }

    </script>
</head>

<body onload="init()">
    // error message voor flask
    {% for message in get_flashed_messages() %}
    <div class="alert-error">Error: {{ message }}</div>
    {% endfor %}

    <div>
        <div id="camera"></div>
        <div id="my_result"></div>
        <p id="info"></p>

        <form onsubmit="return takeSnapShot()" method="POST">
            <label>Username / Email: </label> <br />
            <input name="email" id="email" type="email" placeholder="Enter username" required>
            <br /> <br />
            <input type="submit" value="login" id="submit">
        </form>
    </div>
</body>
</html>
