<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>login</title>
        
        // style voor alert box
        <style>
            .alert-error {
            padding: 8px;
            background-color: gray;
            color: white;
            }
        </style>
    </head>
    <body>
        // flask error message response
        {% for message in get_flashed_messages() %}
        <div class="alert-error">attention: {{ message }}</div>
        {% endfor %}        

        <div>
            <form action="" method="POST">
                <label>Username: </label> <br />
                <input name="username" type="email" placeholder="Enter username" required>
                <br /> <br />
                <label>Password: </label><br />
                <input name="password" type="password" placeholder="Enter password" pattern=".{5,}" required>
                <br /><br />
                <button type="submit" value="signup">Sign Up</button>
            </form>
        </div>
        <div>
            <br />
            <form action="/new">
                <label>Don't have an account?</label>
                <input type="submit" value="Register">
            </form>

            <form action="/webcam_login">
                <input type="submit" value="Webcam login">
            </form>
        </div>
    </body>
</html>
