<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>register</title>

    <style>
        .alert-error {
        padding: 8px;
        background-color: red;
        color: white;
        }
    </style>
</head>
<body>
    <div>
        
    {% for message in get_flashed_messages() %}
    <div class="alert-error">Error: {{ message }}</div>
    {% endfor %}
    
    <form method="POST">
        <label>Name: </label> <br />
        <input name="name" type="text" placeholder="Enter Full name" required>
        <br /> <br />
        <label>Email: </label><br />
        <input name="email" type="email" placeholder="Enter email" required>
        <br /><br />
        <label>Password: </label><br />
        <input name="password" type="password" placeholder="Enter password" pattern=".{5,}" required>
        <br /><br />
        <input type="submit" value="create user">
        <br /><br />
    </form>
    </div>
</body>
</html>
